.button {
  width: 280px;
  padding: 11px 10px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  border: none;
  color: $white;
  background-color: $green;
  cursor: pointer;
}

.button--green {
  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    outline: none;
  }
}

.button--grey {
  &:hover {
    background-color: $border-grey3;
  }

  &:active {
    color: rgba($black, 0.3);
  }
}
