.button {
  width: 280px;
  padding: 11px 10px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  border: none;
  text-decoration: none;
  color: $white;
  background-color: $green;
  cursor: pointer;
}
