.check {
  position: relative;
  margin-top: 25px;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet-min-width) {
    margin-top: 23px;
    padding-left: 62px;
  }

  &:active {
    opacity: 0.3;
  }
}

.check:hover .check__box,
.check:hover .check__radio {
  border-color: $border-grey4;
}

.check:first-child {
  margin: 0;
}

.check__input {
  position: absolute;
  appearance: none;
}

.check__box,
.check__radio {
  position: absolute;
  left: 0;
  top: -6px;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $border-grey;

  @media (min-width: $tablet-min-width) {
    width: 40px;
    height: 40px;
  }
}

.check__radio {
  border-radius: 50%;
}

.check__input:checked + .check__radio {
  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
    background-color: $green;
    border-radius: 50%;
  }

  @media (min-width: $tablet-min-width) {
    &::before {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }
}

.check__input:checked + .check__box {
  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 5px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icon-tick.svg");
  }

  @media (min-width: $tablet-min-width) {
    &::before {
      top: 12px;
      left: 9px;
    }
  }
}
