.contact-section {
  position: relative;
}

.contact-section__container {
  padding-top: 28px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 140px);

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: space-between;
    padding: 66px 42px 55px 40px;
  }

  @media (min-width: $desktop-min-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding-left: 76px;
    padding-right: 84px;
    background-color: $white;
  }
}

.contact-section__invitation {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
  }
}

.contact-section__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-min-width) {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-min-width) {
    text-align: left;
  }
}

.contact-section__address br {
  display: none;

  @media (min-width: $tablet-min-width) {
    display: block;
  }
}
