.example {
  padding: 20px 0;
  background-color: $grey;
}

.example__header {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.example__paragraph {
  font-family: "Arial", sans-serif;
}

.example__weight,
.example__time-spent {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  border: 1px solid $border-grey;
  border-radius: 3px;
}

.example__weight-description,
.example__time-spent-description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__money-spent {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 228px;
  margin: 0 auto;
}

.example__toggle-effect-button {
  width: 70px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: $black;
  border: none;
}

.example_bar {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $border-grey;
  border-radius: 6px;
}

.example_scale {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
}
