.extra-product-card {
  padding: 13px 0 18px;

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 36px 27px 38px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 15px 0 16px;
    justify-content: normal;
    align-items: center;
  }
}

.extra-product-card__header {
  margin: 0;
  max-width: 161px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-product-card__description-and-price {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  font-family: "Arial", "Verdana", sans-serif;
  line-height: 14px;

  @media (min-width: $tablet-min-width) {
    margin-top: 7px;
    font-size: 16px;
  }

  @media (min-width: $desktop-min-width) {
    width: 286px;
    margin-left: auto;
  }
}

.extra-product-card__order-button {
  margin-top: 14px;

  @media (min-width: $tablet-min-width) {
    margin-top: 25px;
    width: 100%;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 0;
    margin-left: 40px;
    width: 244px;
  }
}

.extra-product-card__price {
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    margin-left: 50px;
  }
}

.extra-product-card__price--water {
  @media (min-width: $tablet-min-width) {
    margin-left: 61px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: auto;
    margin-right: 8px;
  }
}
