.extra-product-card__header {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.extra-product-card__description-and-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.extra-product-card__order-button {
  margin-top: 15px;
}
