.index-intro {
  padding: 27px 0 22px;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($green-for-back 305px, $white 305px);
  background-repeat: no-repeat;
  background-size: 320px, auto;
  background-position-x: center;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    padding-top: 33px;
    min-height: 843px;
    text-align: start;
    color: $black;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: auto;
    background-position-y: 234px;
  }

  @media (min-width: $desktop-min-width) {
    position: relative;
    padding-top: 82px;
    min-height: 555px;
    background-image: linear-gradient(to right, $white 50%, $green-for-back 50%);
    background-position: 0;
    background-size: auto;

    &::after {
      position: absolute;
      content: "";
      top: -144px;
      right: 0;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
    }
  }
}

.index-intro__header {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-min-width) {
    width: 420px;
    padding-left: 5px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 0;
  }
}

.index-intro__paragraph {
  margin: 25px 0 0;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    margin-top: 41px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 0;
  }
}

.index-intro__can {
  margin: 28px 0 0;

  @media (min-width: $tablet-min-width) {
    display: none;
  }

  @media (min-width: $desktop-min-width) {
    position: absolute;
    left: 590px;
    top: 80px;
    z-index: 1;
    display: block;
  }
}

.index-intro__button {
  @media (min-width: $tablet-min-width) {
    margin-top: 50px;
    width: 244px;
    padding-top: 17px;
    padding-bottom: 18px;
    font-size: 20px;
  }
}

.index-intro__container {
  position: relative;

  @media (min-width: $tablet-min-width) {
    padding-left: 82px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 79px;
  }
}
