.main-form__form {
  margin-top: 38px;

  @media (min-width: $tablet-min-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 67px;
  }
}

.main-form__main-header {
  margin: 27px 0 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-min-width) {
    margin-top: 34px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 47px;
  }
}

.main-form__header {
  margin: 37px 0 0;
  width: 240px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    margin-top: 55px;
    margin-left: 40px;
    width: 335px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 0;
  }
}
