.main-footer__bottom-row {
  padding: 36px 0 22px;
  background-color: $light-grey;

  @media (min-width: $tablet-min-width) {
    padding: 51px 0 55px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 54px 0 54px;
  }
}

.main-footer__bottom-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 175px;
  padding: 0 20px;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    width: $desktop-min-width;
    padding: 0 110px;
  }
}

.main-footer__academy-section {
  margin-top: 20px;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    margin: 0;
    width: 163px;
  }
}

.main-footer__contact-section {
  background-color: $light-grey;
}

.main-footer__contact-section--index {
  background-color: $white;
}

.main-footer__social-link-list {
  margin-top: 28px;

  @media (min-width: $tablet-min-width) {
    margin: 0 0 0 30px;
  }
}


.main-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
