.main-form__form {
  margin-top: 40px;

  @media (min-width: $tablet-min-width) {
    margin-top: 70px;
  }
}

.main-form__main-header {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-min-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-form__header {
  margin: 35px 0 0;
  width: 240px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    width: 335px;
    font-size: 20px;
    line-height: 30px;
  }
}
