.main-header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header-nav__toggle-button {
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-min-width) {
    display: none;
  }
}

.main-header-nav__menu {
  width: 100%;

  @media (min-width: $tablet-min-width) {
    width: 435px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-min-width) {
    z-index: 1;
    width: 480px;
  }
}
