.main-header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    padding-top: 27px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-min-width) {
    display: flex;
    align-items: flex-start;
    padding-top: 54px;
    padding-bottom: 24px;
  }
}

.main-header-nav__menu--closed {
  display: none;
}

.main-header-nav__menu {
  width: 100%;

  @media (min-width: $tablet-min-width) {
    display: flex;
    width: 440px;
    margin-right: 30px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-min-width) {
    z-index: 1;
    width: 480px;
    margin-top: 16px;
    margin-right: 110px;
  }
}

.main-header-nav__logo-link-img {
  margin-right: -10px;
}

.main-header-nav__logo-link-text {
  margin: 8px auto 0;

  @media (min-width: $tablet-min-width) {
    display: none;
  }
}

.main-header-nav__logo-text-img {
  @media (min-width: $tablet-min-width) {
    height: 19px;
  }

  @media (min-width: $desktop-min-width) {
    width: 118px;
    height: 22px;
  }
}

.main-header-nav__logo-img {
  @media (min-width: $tablet-min-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-min-width) {
    width: 202px;
    height: 59px;
  }
}
