.option {
  padding: 20px;
  background-color: $light-grey;

  @media (min-width: $tablet-min-width) {
    padding: 70px 280px 50px 50px;
  }

  @media (min-width: $desktop-min-width) {
    width: 570px;
    padding: 80px 50px 60px;
  }
}

.option__header {
  margin: 0;
  padding-left: 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 150px;
  }
}

.option__paragraph {
  margin: 30px 0 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 70px;
  }
}

.option__link {
  margin-top: 20px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
