.option {
  padding: 30px 20px 22px;
  background-color: $light-grey;

  @media (min-width: $tablet-min-width) {
    padding: 77px 280px 57px 52px;
  }

  @media (min-width: $desktop-min-width) {
    width: 570px;
    padding: 78px 52px 60px;
  }
}

.option__header {
  position: relative;
  margin: 0;
  padding-left: 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -6px;
    left: 2px;
    width: 50px;
    height: 50px;
  }

  &::before {
    border-radius: 50%;
    background-color: $green;
  }

  &::after {
    left: 9px;
    top: -9px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-min-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      top: 15px;
      left: 394px;
      width: 200px;
      height: 200px;
    }

    &::after {
      left: 425px;
      top: 4px;
      width: 140px;
      height: 192px;
    }
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 162px;

    &::before,
    &::after {
      top: -30px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: -36px;
      left: 16px;
      width: 70px;
      height: 97px;
    }
  }
}

.option__header--weight {
  &::after {
    left: -7px;
    top: 5px;
    width: 68px;
    background-image: url("../img/icon-cat-pro.svg");
  }

  @media (min-width: $tablet-min-width) {
    &::after {
      left: 361px;
      top: 58px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-min-width) {
    &::after {
      left: -19px;
      top: -10px;
      width: 134px;
      height: 56px;
    }
  }
}

.option__paragraph {
  margin: 30px 0 0;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-min-width) {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 74px;
  }
}

.option__paragraph--weight {
  @media (min-width: $tablet-min-width) {
    width: 342px;
  }

  @media (min-width: $desktop-min-width) {
    width: auto;
  }
}

.option__link {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 19px;
  width: fit-content;
  padding-right: 40px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      right: -10px;
    }
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 5px;
  }
}
