.principle-list {
  display: grid;
  row-gap: 20px;
  font-family: "Arial", "Verdana", sans-serif;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 250px);
    gap: 74px 134px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 250px);
    gap: 75px;
  }
}

.principle-list__paragraph {
  position: relative;
  margin: 0;
  min-height: 60px;
  padding-left: 80px;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  @media (min-width: $tablet-min-width) {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      top: -112px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      content: "1";
      top: -154px;
      right: 0;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $light-grey;
    }
  }
}

.principle-list__paragraph--leaf {
  @media (min-width: $tablet-min-width) {
    &::after {
      right: 20px;
    }
  }
}

.principle-list__paragraph--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &::after {
    @media (min-width: $tablet-min-width) {
      content: "2";
    }
  }
}

.principle-list__paragraph--nutrition {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &::after {
    @media (min-width: $tablet-min-width) {
      content: "3";
    }
  }
}

.principle-list__paragraph--month {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }

  &::after {
    @media (min-width: $tablet-min-width) {
      content: "4";
    }
  }
}

.principle-list__paragraph--month br {
  display: none;

  @media (min-width: $tablet-min-width) {
    display: block;
  }
}

.principle-list__item {
  @media (min-width: $tablet-min-width) {
    padding: 112px 0 60px;
  }
}
