.product-section {
  padding: 27px 0 35px;
  overflow: hidden;

  @media (min-width: $tablet-min-width) {
    padding-top: 34px;
    padding-bottom: 75px;
  }
}

.product-section__header {
  margin: 0;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    border: none;
  }
}

.product-section__list {
  border-top: 1px solid $border-grey3;

  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 58px 60px;
    margin: 82px auto 0;
    width: 708px;
    border: none;
  }

  @media (min-width: $desktop-min-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }
}

.product-section__extra-header {
  position: relative;
  margin: 27px 0 34px;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 247px;
    width: 100vw;
    border: 2px solid $green;
  }

  @media (min-width: $tablet-min-width) {
    margin: 66px 0 80px 37px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 21px;
      left: 374px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 21px;
      right: 710px;
      width: 100vw;
      border: 2px solid $green;
    }
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1/-1;

    &::before {
      right: 1250px;
    }
  }
}

.product-section__extra-item {
  border-bottom: 1px solid $border-grey;
}

.product-section__gift-div {
  margin-top: 39px;

  @media (min-width: $tablet-min-width) {
    margin-top: 68px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0;
  }
}

.product-section__extra-list {
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $border-grey;
    border-bottom: none;
  }

  @media (min-width: $desktop-min-width) {
    border: none;
    border-top: 1px solid $border-grey;
  }
}

.product-section__item {
  border-bottom: 1px solid $border-grey3;

  @media (min-width: $tablet-min-width) {
    border: none;
  }
}

.product-section__product {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $desktop-min-width) {
    width: auto;
  }
}

.product-section__extra-product-container {
  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
  }
}
