.show-more-section {
  text-align: center;
  padding: 0 20px 24px;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
    width: auto;
    min-height: 429px;
    padding: 0 36px 24px;
    border: 2px solid $light-grey;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 82px;
    min-height: 430px;
  }
}

.show-more-section__header {
  position: relative;
  margin: 0;
  padding-top: 80px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 125px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
  }

  @media (min-width: $tablet-min-width) {
    width: 140px;
    padding-top: 160px;
    font-size: 20px;
    line-height: 22px;

    &::before {
      left: 40px;
      top: 50px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }
}

.show-more-section__paragraph {
  margin: 8px 0 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-min-width) {
    margin-top: 24px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more-section__button {
  margin-top: 21px;
  background-color: $light-grey;
  color: $dark-grey;

  @media (min-width: $tablet-min-width) {
    margin-top: 85px;
    width: 100%;
  }
}
