.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 21px 0 16px;
  border-bottom: 1px solid $line-grey;
  border-top: 1px solid $line-grey;

  @media (min-width: $tablet-min-width) {
    width: fit-content;
    padding: 0;
    border: none;
  }
}

.social-list__item {
  margin-right: 35px;

  @media (min-width: $tablet-min-width) {
    margin-right: 33px;
  }
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__image {
  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-min-width) {
    transform: scale(1.4);
  }
}

.social-list__image--stroke {
  &:hover {
    fill: none;
    stroke: $green;
  }
}
