// Colors
$black: black;
$almost-black: #111111;
$white: white;
$green: #68b738;
$grey: #eaeaea;
$light-grey: #f2f2f2;
$dark-grey: #444444;
$border-grey: #cdcdcd;
$orange: #f06351;

// Screen widths
$mobile-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1440px;
