// Colors
$black: black;
$almost-black: #111111;
$white: white;
$green: #68b738;
$green-hover: #5eaa2f;
$green-for-back: #65a93c;
$grey: #eaeaea;
$grey2: #dcdcdc;
$light-grey: #f2f2f2;
$dark-grey: #444444;
$border-grey: #cdcdcd;
$border-grey2: #e6e6e6;
$border-grey3: #ebebeb;
$border-grey4: #bababa;
$input-border-grey: #e7e7e7;
$line-grey: #d9d9d9;
$orange: #f06351;
$error-input: #ff8282;

// Screen widths
$mobile-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1440px;
